@font-face {
    font-family: 'TTSquaresCondensed';
    src: url('../fonts/TTSquaresCondensed/TTSquaresCondensed-Bold.eot');
    src: local('☺'), url('../fonts/TTSquaresCondensed/TTSquaresCondensed-Bold.woff') format('woff'), url('../fonts/TTSquaresCondensed/TTSquaresCondensed-Bold.ttf') format('truetype'), url('../fonts/TTSquaresCondensed/TTSquaresCondensed-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TTSquaresCondensed';
    src: url('../fonts/TTSquaresCondensed/TTSquaresCondensed-Regular.eot');
    src: local('☺'), url('../fonts/TTSquaresCondensed/TTSquaresCondensed-Regular.woff') format('woff'), url('../fonts/TTSquaresCondensed/TTSquaresCondensed-Regular.ttf') format('truetype'), url('../fonts/TTSquaresCondensed/TTSquaresCondensed-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Medium.eot');
    src: local('☺'), url('../fonts/Inter/Inter-Medium.woff') format('woff'), url('../fonts/Inter/Inter-Medium.ttf') format('truetype'), url('../fonts/Inter/Inter-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PexelGrotesk';
    src: url('../fonts/PexelGrotesk/PexelGrotesk-Regular.eot');
    src: local('☺'), url('../fonts/PexelGrotesk/PexelGrotesk-Regular.woff') format('woff'), url('../fonts/PexelGrotesk/PexelGrotesk-Regular.ttf') format('truetype'), url('../fonts/PexelGrotesk/PexelGrotesk-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'PingFangTC';
    src: url('../fonts/PingFangTC/PingFangTC.eot');
    src: local('☺'), url('../fonts/PingFangTC/PingFangTC.woff') format('woff'), url('../fonts/PingFangTC/PingFangTC-Regular.ttf') format('truetype'), url('../fonts/PingFangTC/PingFangTC.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Digitany';
    src: url('../fonts/Digitany/Digitany.eot');
    src: local('☺'), url('../fonts/Digitany/Digitany.woff') format('woff'), url('../fonts/Digitany/Digitany.ttf') format('truetype'), url('../fonts/Digitany/Digitany.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'TTSquaresCondensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'PexelGrotesk', sans-serif;
    font-family: 'PingFangTC', sans-serif;
    font-size: 16px;
    line-height: 130%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #000000;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.content {
   min-width: 1440px;
    margin: 0 auto;
}

.header {
    width: 1430px;
    height: 895px;
    border-radius: 24px;
    background-color: #D2FD7E;
    margin: 5px auto;

    .logo {
        padding-top: 3px;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        width: 1410px;

        &_mobile {
            display: none;
        }
    }

    .mobile_more-btn {
        display: none;
    }

    .authors {

        &-list {
            width: 90px;
            height: 273px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 152px;
            margin-left: 15px;
        }

        &-link {
            display: block;
            margin: 0 auto;
        }

        .selected {
            position: relative;

            &::before {
                position: absolute;
                top: -102px;
                left: -22px;
                content: "";
                width: 92px;
                height: 92px;
                background-image: url(../img/Oval.png);
            }
        }
    }

    .item {
        width: 903px;
        z-index: 1;
        position: absolute;
        top: 80px;
        left: 290px;

        &-img {
            filter: drop-shadow(0px 40px 240px rgba(0, 0, 0, 0.2));
            border-radius: 24px;
            width: 500px;
            height: 745px;


            &_link {
                display: block;
                margin-left: 2px;
                border-radius: 24px;
                width: 500px;
                height: 745px;
                background: #232323;
            }
        }

        &-about {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 234px;
            left: 583px;
        }

        &-author {
            font-family: 'TTSquaresCondensed', sans-serif;
            font-size: 14px;
            line-height: 16px;
            mix-blend-mode: normal;
            opacity: 0.4;
            margin-bottom: 12px;
            color: #000000;
        }

        &-title {
            display: block;
            width: 323px;
            height: 84px;
            font-family: 'PexelGrotesk', sans-serif;
            font-size: 38px;
            line-height: 42px;
            margin-bottom: 22px;
        }

        .likes {
            position: relative;
            width: 55px;
            height: 30px;
            border-radius: 15px;
            font-family: 'TTSquaresCondensed', sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            background-color: rgba(80, 83, 76, 0.2);
            mix-blend-mode: normal;
            color: #000000;

            &-number {
                position: absolute;
                top: 8px;
                left: 30px;
            }

            &::before {
                position: absolute;
                top: 9px;
                left: 11px;
                content: "";
                width: 14px;
                height: 13px;
                background-image: url(../img/heart-icon_black.svg);
                opacity: 1;
            }
        }

        &-info {
            position: relative;
            display: block;
            width: 89px;
            height: 30px;
            border-radius: 15px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            color: #000000;
            padding: 8px 30px 10px 15px;
            font-size: 10px;
            line-height: 12px;

            &::after {
                position: absolute;
                content: "";
                width: 5px;
                height: 8px;
                background-image: url(../img/arrow-icon.svg);
                top: 10px;
                left: 68px;
            }
        }

        .btn-wrapper {
            display: flex;
            justify-content: space-between;
            width: 149px;
            height: 30px;
            margin-bottom: 30px;
        }

        .bid {
            &-btn {
                display: block;
                background-color: #000000;
                color: #FFFFFF;
                width: 310px;
                height: 44px;
                border-radius: 22px;
                padding: 15px 110px;
                font-family: 'PexelGrotesk', sans-serif;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                margin-bottom: 17px;
            }

            &-wrapper {
                display: flex;
                width: 310px;
                font-family: 'TTSquaresCondensed', sans-serif;
            }

            .vertical {
                width: 1px;
                height: 52px;
                background-color: rgba(128, 128, 128, 0.5);
                margin-left: 40px;
            }

            .price {
                display: flex;
                flex-direction: column;

                &-title {
                    font-size: 12px;
                    line-height: 14px;
                    mix-blend-mode: normal;
                    opacity: 0.6;
                    margin-bottom: 5px;
                    display: block;
                    width: 70px;
                    height: 14px;
                }

                &-eth {
                    font-size: 16px;
                    line-height: 19px;
                    margin-bottom: 6px;
                    display: block;
                    width: 77px;
                    height: 18px;
                }

                &-dollars {
                    font-size: 10px;
                    line-height: 12px;
                    text-transform: uppercase;
                    mix-blend-mode: normal;
                    opacity: 0.4;
                }
            }

            .time {
                margin-left: 25px;
                margin-top: -5px;
                width: 150px;

                &-title {
                    font-size: 12px;
                    line-height: 14px;
                    mix-blend-mode: normal;
                    opacity: 0.6;
                    margin-bottom: 4px;
                }

                .digits {
                    display: flex;
                    justify-content: space-between;
                    width: 130px;
                    height: 18px;
                    margin-bottom: 8px;

                    &-item {
                        display: block;
                    }
                }

                &-words {
                    display: flex;
                    justify-content: space-between;
                    width: 150;
                    font-size: 10px;
                    line-height: 12px;
                    mix-blend-mode: normal;
                    opacity: 0.4;
                }
            }
        }
    }

    .btns {
        width: 1420px;
        height: 40px;
        margin: 233px auto 15px;
        display: flex;
        justify-content: space-between;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;

        &-left {
            margin-left: 5px;

            input[type="radio"] {
                appearance: none;
            }

            .radio-switch {
                display: inline-flex;
                padding: 3px;
                border-radius: 20px;
                border: 2px solid #000000;
                background-color: #000000;
                width: 164px;
                height: 40px;
                ;
            }

            .radio-switch_item {
                width: 80px;
                height: 36px;
                position: relative;
            }

            .radio-switch_label {
                position: relative;
                z-index: 1;
                margin-top: -8px;
                display: block;
                text-align: center;
                color: #FFFFFF;
                border-radius: 20px;
                cursor: pointer;
            }

            .radio-switch_marker {
                position: absolute;
                top: -3px;
                left: -104%;
                height: 36px;
                width: 80px;
                background-color: #D2FD7E;
                border-radius: 20px;
                transition: transform .4s;
            }

            .radio-switch_input:checked~.radio-switch_marker {
                transform: translateX(100%);
            }

            .radio-switch_input:checked~.radio-switch_label {
                color: #000000;
            }
        }


        &-right {
            display: flex;
            justify-content: space-between;
            width: 260px;
            height: 40px;

            .wallet_btn {
                display: block;
                background-color: #D2FD7E;
                border: 1px solid #000000;
                border-radius: 20px;
                color: #000000;
                padding: 12px 27px 13px;
            }

            .add-mask_btn {
                display: block;
                background-color: #000000;
                color: #FFFFFF;
                border-radius: 20px;
                padding: 12px 25px 13px;
            }
        }
    }
}

.video {
    margin-left: 5px;
    margin-right: 5px;

    &-wrapper {
        width: 1430px;
        height: 1239px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        column-gap: 2px;
        row-gap: 2.5px;
        margin-bottom: 10px;
    }

    .preview {
        width: 353px;
        height: 617px;
        border-radius: 24px;
        cursor: pointer;
        font-family: 'TTSquaresCondensed', sans-serif;

        &-info {
            background-color: #151613;
            border-radius: 4px 4px 24px 24px;
            width: 353px;
            height: 107px;
            position: relative;
        }

        &-title {
            display: block;
            font-family: 'PingFangTC', sans-serif;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            position: absolute;
            top: 43px;
            left: 15px;
        }

        .author {
            &-link {
                position: absolute;
                top: -44%;
                left: 10px;
            }

            &-name {
                font-size: 14px;
                line-height: 16px;
                text-align: right;
                color: #6C7479;
                position: absolute;
                top: 15px;
                right: 16px;
            }
        }

        .price {
            font-size: 14px;
            line-height: 16px;
            display: flex;
            justify-content: space-between;
            width: 105px;
            height: 16px;
            position: absolute;
            top: 73px;
            left: 15px;

            &-eth {
                color: #D2FD7E;
            }

            &-dollars {
                text-align: right;
                color: #6C7479;
            }
        }

        .likes {
            position: relative;
            display: block;
            top: 68px;
            left: 285px;
            width: 55px;
            height: 30px;
            border-radius: 15px;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            background-color: rgba(80, 83, 76, 0.2);
            mix-blend-mode: normal;
            color: #6C7479;

            &-number {
                position: absolute;
                top: 8px;
                left: 30px;
            }

            &::before {
                position: absolute;
                top: 9px;
                left: 11px;
                content: "";
                width: 14px;
                height: 13px;
                background-image: url(../img/heart-icon_grey.svg);
                opacity: 1;
            }
        }
    }

    .more-btn {
        display: block;
        width: 1430px;
        height: 70px;
        text-align: center;
        padding: 27px 678px;
        font-family: 'TTSquaresCondensed', sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #E1E1E1;
        background: linear-gradient(360deg, #151613 0.41%, #000000 100%);
        border-radius: 24px;


    }
}

.footer {
    width: 1430px;
    height: 84px;
    text-align: center;
    font-family: 'PingFangTC', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #555B5F;
    padding-top: 27px;
}


@media screen and (max-width: 375px) {


    .content {
        width: 375px;
        height: 2428px;
        margin: 0 auto;
    }

    .header {
        width: 365px;
        height: 994px;
        border-radius: 24px;
        background-color: #D2FD7E;
        margin: 5px auto;


        .logo {
            display: none;

            &_mobile {
                display: block;
                padding-top: 22px;
                margin-left: 10px;
            }
        }


        .mobile_more-btn {
            display: block;
            margin-left: 315px;
            margin-top: -31px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #000000;
            background-image: url(../img/more-icon.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        .authors {
            &-list {
                height: 90px;
                width: 273px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                vertical-align: center;
                margin-top: 520px;
                margin-left: 75px;
            }

            .selected {
                position: relative;

                &::before {
                    position: absolute;
                    top: -20px;
                    left: -105px;
                    content: "";
                    width: 92px;
                    height: 92px;
                    background-image: url(../img/Oval.png);
                }
            }
        }

        .item {
            width: 365px;
            z-index: 1;
            position: static;
            margin: -591px auto 5px;

            &-img {
                width: 325px;
                height: 483px;

                &_link {
                    display: block;
                    margin: 0 auto;
                    width: 325px;
                    height: 483px;
                }
            }

            &-about {
                display: flex;
                flex-direction: column;
                position: static;
                margin-top: 115px;
                margin-left: 20px;
            }

            &-author {
                margin-bottom: 7px;
                margin-top: 5px;
            }

            &-title {
                margin-bottom: 22px;
            }

            .bid {
                &-btn {
                    display: block;
                    background-color: #000000;
                    color: #FFFFFF;
                    width: 310px;
                    height: 44px;
                    border-radius: 22px;
                    padding: 15px 110px;
                    font-family: 'PexelGrotesk', sans-serif;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    margin-bottom: 17px;
                }

                &-wrapper {
                    display: flex;
                    width: 310px;
                    font-family: 'TTSquaresCondensed', sans-serif;
                }

                .vertical {
                    display: none;
                }

                .time {
                    margin-left: 70px;
                    margin-top: -5px;
                    width: 150px;

                    &-title {
                        font-size: 12px;
                        line-height: 14px;
                        mix-blend-mode: normal;
                        opacity: 0.6;
                        margin-bottom: 4px;
                    }

                    .digits {
                        display: flex;
                        justify-content: space-between;
                        width: 130px;
                        height: 18px;
                        margin-top: 3px;
                        margin-bottom: 8px;

                        &-item {
                            display: block;
                        }
                    }

                    &-words {
                        display: flex;
                        justify-content: space-between;
                        width: 150;
                        font-size: 10px;
                        line-height: 12px;
                        mix-blend-mode: normal;
                        opacity: 0.4;
                    }
                }
            }
        }

        .btns {
            width: 164px;
            height: 40px;
            position: static;
            margin-top: -970px;
            display: flex;
            justify-content: space-between;

            &-left {
                margin: 0 auto;
            }

            &-right {
                display: none;
            }
        }
    }


    .video {
        margin: 0 auto;
        width: 375px;

        &-wrapper {
            width: 365px;
            height: 1239px;
            display: flex;
            flex-direction: column;
            margin: 0 auto 10px;
        }

        .preview {
            width: 365px;
            height: 634px;
            border-radius: 24px;
            cursor: pointer;
            font-family: 'TTSquaresCondensed', sans-serif;

            &-img {
                width: 365px;
                height: 522px;
            }

            &-info {
                background-color: #151613;
                border-radius: 4px 4px 24px 24px;
                width: 365px;
                height: 107px;
                position: relative;
            }

            &-title {
                display: block;
                font-family: 'PingFangTC', sans-serif;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                position: absolute;
                top: 43px;
                left: 15px;
            }

            .author {
                &-link {
                    position: absolute;
                    top: -44%;
                    left: 10px;
                }

                &-name {
                    font-size: 14px;
                    line-height: 16px;
                    text-align: right;
                    color: #6C7479;
                    position: absolute;
                    top: 15px;
                    right: 16px;
                }
            }

            .price {
                font-size: 14px;
                line-height: 16px;
                display: flex;
                justify-content: space-between;
                width: 105px;
                height: 16px;
                position: absolute;
                top: 73px;
                left: 15px;

                &-eth {
                    color: #D2FD7E;
                }

                &-dollars {
                    text-align: right;
                    color: #6C7479;
                }
            }

            .likes {
                position: relative;
                display: block;
                top: 68px;
                left: 295px;
                width: 55px;
                height: 30px;
                border-radius: 15px;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                background-color: rgba(80, 83, 76, 0.2);
                mix-blend-mode: normal;
                color: #6C7479;

            }
        }

        .more-btn {
            display: block;
            width: 365px;
            height: 70px;
            text-align: center;
            padding: 27px 140px;
            font-family: 'TTSquaresCondensed', sans-serif;
            font-size: 14px;
            line-height: 16px;
            color: #E1E1E1;
            background: linear-gradient(360deg, #151613 0.41%, #000000 100%);
            border-radius: 24px;
            margin-top: 35px;
            margin-left: 5px;
            border: 1px solid rgba(151, 151, 151, 0.155458);
        }

        .mobile-hidden {
            display: none;
        }
    }

    
.footer {
    width: 365px;
    height: 84px;
    margin: 0 auto;
    padding-top: 22px;
}
}